{% extends "base.html.twig" %}

{% block title %}User data form{% endblock %}

{% set form_id = 'user_data_form' %}

{% block body %}
    {{ form(form, { attr: {'id': form_id}}) }}
{% endblock %}

{% block javascripts %}
    <script>
        (() => {
            function getInputValue(input) {
                switch (input.type) {
                    case 'file':
                        return input.files[0]
                    case 'submit':
                        return true;
                    default:
                        return input.value;
                }
            }

            async function handleFormSubmition(event) {
                event.preventDefault();

                const form = event.currentTarget;
                const data = new FormData();

                for (const input of form.querySelectorAll('input, button')) {
                    if (input.name === null || input.name.length === 0) {
                        continue;
                    }
                    
                    data.append(input.name, getInputValue(input));
                }

                const response = await fetch('{{ url("user_data_save") }}', {
                    method: 'POST',
                    body: data
                });
                const json = await response.json();

                window.alert((data => {
                    if ('errors' in data) {
                        const messages = Object.values(data.errors);
                        messages.unshift(data.message);

                        return messages.join('\n');
                    }

                    return data.message;
                })(json));

                if (response.ok) {
                    setTimeout(() => location.reload(), 1000);
                }
            }

            document.getElementById('{{ form_id }}').addEventListener('submit', handleFormSubmition)
        })()
    </script>
{% endblock %}