{% extends "base.html.twig" %}

{% block title %}User data listing{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>First Name</tr>
        <tr>Last Name</tr>
        <tr>Attachment</tr>
    </thead>
    <tbody>
        {% for data in collection %}
            <tr>
                <td>{{ data.firstName }}</td>
                <td>{{ data.lastName }}</td>
                <td><img src="{{ data.attachmentPath }}" alt="{{ data.attachmentPath }}"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}